.section {
    width: calc(50% - 20px);
    height: 210px;
    padding: 20px;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 3px 5px 16px 0px rgba(0, 0, 0, 0.61);

    &.withImage {
      width: calc(50% - 20px);
      height: 496px;
    }

    &:hover {
      cursor: pointer;
      transition: all 0.5s ease;
      box-shadow: none;
    }

    h2 {
      font-size: 2em;
      padding: 20px;
      color: #da9b85;
    }

    .carouselContainer {
      // style={{ height: "300px", width: "300px", flexShrink:"0" }}
      height: 300px;
      width: 400px;
      flex-shrink: 0;
      margin:10px;
    }
  }